*{
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;

}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 60px 10px 60px;
    font-size: 16px;
}

.bar-link{
    display: flex;
    list-style: none;
    gap: 24px;
    

}

a{
    text-decoration: none;
    color: #575757;
}

.logo{
    width: 134px;
    height: 44px;
}

.btn-clr{
    background-color: #1D4ED8;
    color: #FFFFFF;

}
.btn-nav{
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 188px;
    height: 48px;
    font-weight: bold;
}

header{
    height: 100vh;
    width: 100%;

  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7)
    ),
    url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;

    /* background-image:linear-gradient(to right,rgba(0,0,0,0.6),rgba(0,0,0,0) 70%), url('./assets/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1280px; */

    
}
.bnr-content{
    color: #FFFFFF;
    align-items: center;
}
.bnr-content h1{
    font-size: 80px;
    font-weight: bold;
}
.bnr-content p{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    width: 829px;
    height: 108px;
}
.btn-header{
    width: 282px;
    height: 74px;
    padding: 12px;
    font-weight: bold;
    font-size: 24px;
    border: none;
    border-radius: 10px;
}
header{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.m-header{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    color: #000102;    
}
.m-text{
    margin: 40px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.card-1{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    box-shadow: 1px #E5E7EB;
    

}
.main-content{
    padding: 15px;
}
.text-1{
    font-size: 12px;
    font-weight: 600;
    color: #2563EB;
    margin: 5px 0;
}
.text-2{
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
    margin: 5px 0;
}
.text-3{
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin: 5px 0;
}
.card-img{
    width: 542px;
    height: 324px;
    border-radius: 12px 12px 0px 0px;
}

.m-header-m{
    text-align: center;
    padding: 80px 0 25px 0;
}

.m-header-2{
    font-size: 48px ;
    font-weight: bold;
    color: #0D1B2A;
}
.m-header-p-2{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    margin: 5px 0;
}